@* CASO 1: Enviar un parámetro en una ruta *@

@* @page "/"

@page "/home/{id}"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Product ID: @Id</p>

@code {
    [Parameter]
    public string? Id { get; set; }
} *@


@* CASO 2: Enviar multiples parámetros en una ruta *@

@* @page "/"

@page "/home/{id1}"

@page "/home/{id1}/{id2}"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Product ID1: @Id1</p>

<p>Product ID2: @Id2</p>

@code {
    [Parameter]
    public string? Id1 { get; set; }

    [Parameter]
    public string? Id2 { get; set; }
} *@

@* CASO 3: Enviar un parámetro opcional en una ruta *@

@page "/"

@page "/home/{userId?}"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>User ID: @UserId</p>

@code {
    [Parameter]
    public string UserId { get; set; } = "Guest";
}

